[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
cryptography = "*"
drf-nested-routers = "*"
django-filter = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory-boy = "*"

[requires]
python_version = "3.13"
